  

  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= book.genre %>
  </p>
 
  <% if book.image.attached? %>
    <p>
    <strong>image:</strong>
    <%= image_tag(book.image) %>    
    </p> 
  <% end %>
  </p> 
  <p>
    <%= link_to "Show this book", book %>
  </p>

  <br>
  -----------------------------------------------------






