<p style="color: green"><%= notice %></p>
<h1>Reviews of the Book : <%= @books.name %></h1>

<div id="reviews">
  <% @reviews.each do |review| %>
    <%= render review %>
      <% end %>
</div>

<%= link_to "back to review", book_path(@books) %>
